<div class="parentcontainer">
<div class="centerblock">

<div class="header"><h1>Create your Profile!</h1></div>

<%= form_with scope: :userprofile, url: userprofiles_path, local: true do |form| %>

  <div class="field">
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>

  <div class="field">
   <strong>Upload Image</strong>
  <%= form.file_field :img %>
	</div>

<div class="center">
  <div class="btn edit">
    <%= form.submit %>
  </div>
</div>

<div class="center">
  <div class="btn edit">
      <%= link_to 'Back', root_path %>
    </div>
  </div>

<% end %>
</div>
</div>