<h1 class = "header">Your Profile</h1>

<div class = "userinfocontainer">
	<div class = "userimg">
		<%= cl_image_tag(@userprofile.img, :width => 400, :height => 400)%>
	</div>
	<div class = "userdescription">
	  <h1>Username: <%= @userprofile.username %></h1>
	  <h1>Description: <%= @userprofile.description %></h1>
	  <% if @userprofile.id == current_user.id %>
	  <a href= <%= edit_userprofile_path(@userprofile) %> class = "btn btn-primary edit" >Edit your Profile</a>
	  <% end %>
	</div>
</div>
<%= link_to 'Back', root_path %>