<p>
  <strong>Created By:</strong>
  <%= @userprofile.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @userprofile.username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @userprofile.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @userprofile.img %>
</p>

<%= link_to 'Back', root_path %>