<div class="container">
	<div class="row">
		<div class="groupTable col-md-4">
			<table>
				<tr>
					<th>Members</th>
				</tr>
				<% @userprofile.each do |attend| %>
					<tr>
						<td><%= attend%></td>
					</tr>
				<%end%>
			</table>
		</div>
		<div class="commentTextArea col-md-8">
			<%= form_with scope: :text, url: "/groups", local: true do |form| %>
			  <p>
				 <%= form.label :comment %><br>
				<div>
			  <%= form.text_area :comment, placeholder: "Enter a comment" %>
				</div>
			  </p>

			  <p>

			  	<%= form.hidden_field :user_id, value: @user %>
			  </p>

			  <p>

			  	<%= form.hidden_field :group_id, value: @groupid %>
			  </p>

			  <p>
			   	<%= form.submit %>
			  </p>
			<% end %>

			<table class='table'>
				<tr>
					<th>User</th>
					<th>comment</th>
				</tr>
				<% @comment.each do |comment| %>
					<tr>
						<td><%= comment.user.userprofile.username%></td>
						<td><%= comment.comment%></td>
					</tr>
				<%end%>
			</table>
		</div>
	</div>
</div>