index.html.erb
<%= link_to 'New event', new_event_path %>
<h1>Listing events</h1>

<table>
  <tr>
    <th>name</th>
    <th>description</th>
    <th>date</th>
    <th>location</th>
    <th>img</th>
    <th>max_group</th>
    <th>max_per_group</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= event.date %></td>
      <td><%= event.location %></td>
      <td><%= event.img %></td>
      <td><%= event.max_group %></td>
      <td><%= event.max_per_group %></td>
      <td>
      	<% if event.users.exists? %>
      	<h1> already there </h1>
      	<% else %>
      	<%= form_with(url: "/join" , method: "post") do %>
  				 <input name="event_id" type="hidden" value= <%=event.id %>>
  				 <input name="user_id" type="hidden" value= <%=@user_id.to_i%>>
  				 <%= submit_tag 'Join'%>
				<% end %>
				<% end %>
      </td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
    </tr>
  <% end %>
</table>