    <div class="header"><h1>All Events</h1></div>
    <h2 style = "color: red">Comment from Safraz: For some strange reason, only the first one is showing up. To fix!</h2>
    <div class="container-for-cards">
      <% Event.find(:all) do |event| %>
        <div class="card">
          <div class="imagecard" style="background-image:url(<%= event.img %>); background-size:cover;"> 
            <% if event.user_id == @user %>
              <div class="buttonspace"><a href= <%= edit_event_path(event) %> class="btn btn-primary edit">Edit your event</a></div>
            <% end %>
            <% if event.attends.find_by(user: @user)%>
              <div class="ifattend">I'm Attending</div>
            <% end %>
          </div>
          <div class="card-body">
            <h2 class="card-title"><%= event.name %></h2>
            <h3><%= event.date.to_formatted_s(:long) %></h3>
            <h3><%= event.location %></h3>
            <a href= <%= event_path(event) %> class="btn btn-primary more">Find out more</a>
            <div class="bottombox">
              <div>Organisor: <%= Userprofile.find_by(user_id: event.user_id).username %></div>
              <div>Participants: <%= Attend.where(event:event.id).length %></div>
            </div>          
          </div>
        </div>
      <% end %>
    </div>