<%= form_with scope: :event, url: events_path, local: true do |form| %>

  <input name="user_id" type="hidden" value= <%= @user_id.to_i %>>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :date %><br>
    <%= form.date_select :date %>
  </p>

    <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>

    <p>
    <%= form.label :img %><br>
    <%= form.text_area :img %>
  </p>

      <p>
    <%= form.label :max_group %><br>
    <%= form.number_field :max_group %>
  </p>

      <p>
    <%= form.label :max_per_group %><br>
    <%= form.number_field :max_per_group %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', root_path %>