show.html.erb

<p>
  <strong>Created By:</strong>
  <%= @event.users %>
</p>

<p>
  <strong>Event Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Event Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @event.img %>
</p>

<p>
  <strong>Maximum number of group:</strong>
  <%= @event.max_group %>
</p>

<p>
  <strong>Maximum member per group:</strong>
  <%= @event.max_per_group %>
</p>

<% if @event.attends.find_by(user: @user) %>
<%= link_to 'Back', root_path %>
<%= form_with(url: "/leave" , method: "delete") do %>
  				 <input name="event_id" type="hidden" value= <%=@event.id %>>
  				 <%= submit_tag 'Leave'%>
  				 <% end %>


					<table class="table">
  					<tr>
					    <th>Group</th>
					    <th>developer</th>
					    <th>ux</th>
					    <th>Join dev</th>
					    <th>Join ux</th>
					    <th>Join/Leave</th>
					  </tr>
					  <% @group.each do |grp| %>
						  <tr>
	      				<td><%= grp.group_number %></td>
	      				<td><%= grp.developer %></td>
	      				<td><%= grp.ux %></td>
	      				<td>
		      				<% if Attend.find_by(user:@user.id, event:@event.id, group:grp.id) %>
		      					<%= form_with(url: "/leave/group" , method: "delete") do %>
			  				 			<input name="attend_id" type="hidden" value= <%= Attend.find_by(user:@user.id, event:@event.id, group:grp.id).id %>>
			  				 			<%= submit_tag 'Leave'%>
		      					<% end %>
		      				<% elsif Attend.find_by(user:@user.id, event:@event.id) && Attend.exists?(user:1, event:1, group:nil) %>
		      					<%= form_with(url: "/join/group" , method: "post") do %>
			  				 			<input name="attend_id" type="hidden" value= <%= Attend.find_by(user:@user.id, event:@event.id).id %>>
			  				 			<input name="group_id" type="hidden" value= <%= grp.id %>>
			  				 			<%= submit_tag 'join' %>
		      					<% end %>
	  						</td>
	      			</tr>
						<% end %>
						<% end %>
					</table>

<% elsif user_signed_in? && Attend.where(event:@event.id).length < (@event.developer.to_i * @event.max_group.to_i + @event.ux.to_i * @event.max_group.to_i )%>
	<%= form_with scope: :attend, url: join_path, local: true do |form| %>
	  <%= hidden_field_tag(:user_id, @user.id) %>
	  <%= hidden_field_tag(:event_id, @event.id) %>
	     <%= form.collection_select(:role_id, @role, :id, :name) %>
	<%= form.submit 'Join'%>
	<% end %>
<% elsif user_signed_in? && Attend.where(event:@event.id).length == (@event.developer.to_i * @event.max_group.to_i + @event.ux.to_i * @event.max_group.to_i) %>
 <h2> event is full </h2>
<% end %>