show.html.erb

<p>
  <strong>Created By:</strong>
  <%= @event.users %>
</p>

<p>
  <strong>Event Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Event Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @event.img %>
</p>

<p>
  <strong>Maximum number of group:</strong>
  <%= @event.max_group %>
</p>

<p>
  <strong>Maximum member per group:</strong>
  <%= @event.max_per_group %>
</p>

<% if @event.attends.find_by(user: @user) %>
<%= link_to 'Back', root_path %>
<%= form_with(url: "/leave" , method: "delete") do %>
  				 <input name="event_id" type="hidden" value= <%=@event.id %>>
  				 <%= submit_tag 'Leave'%>
  				 <% end %>
					<table>
  					<tr>
					    <th>Group</th>
					    <th>Join/Leave</th>
					    <th>Pax</th>
					    <th>Name</th>
					  </tr>
					  <% @group.each do |grp| %>
					  <tr>
      				<td><%= grp.group_number %></td>
      				<td>
      					<%= form_with(url: "/join/group" , method: "post") do %>
  				 			<input name="attend_id" type="hidden" value= <%= Attend.find_by(event:@event.id, user:@user).id %>>
  				 			<input name="group_id" type="hidden" value= <%= Group.find_by(group_number:grp.group_number, event:@event.id).id %>>
  				 			<%= submit_tag 'join'%>
  						</td>
      				<td>1</td>
      				<td></td>
      			</tr>
					<% end %>
				</table>
				<%end%>
<% elsif user_signed_in? %>
	<%= form_with scope: :attend, url: join_path, local: true do |form| %>
	  <%= hidden_field_tag(:user_id, @user) %>
	  <%= hidden_field_tag(:event_id, @event.id) %>
	  <%= form.collection_select(:role_id, Role.all, :id, :name) %>
	    <%= form.submit 'Join'%>
	<% end %>
<% end %>