show.html.erb

<p>
  <strong>Created By:</strong>
  <%= @event.users %>
</p>

<p>
  <strong>Event Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Event Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @event.img %>
</p>

<p>
  <strong>Maximum number of group:</strong>
  <%= @event.max_group %>
</p>

<p>
  <strong>Maximum member per group:</strong>
  <%= @event.max_per_group %>
</p>

<% if @event.attends.find_by(user: @user) %>
<%= link_to 'Back', root_path %>
<%= form_with(url: "/leave" , method: "delete") do %>
  				 <input name="event_id" type="hidden" value= <%=@event.id %>>
  				 <%= submit_tag 'Leave'%>
  				 <% end %>


					<table class="table">
  					<tr>
					    <th>Group</th>
					    <th>Join/Leave</th>

					  </tr>
					  <% @group.each do |grp| %>
						  <tr>
	      				<td><%= grp.group_number %></td>
	      				<td>
		      				<% if Group.find_by(event:@event.id, group_number:grp.group_number).attends.exists? %>
		      					<%= form_with(url: "/leave/group" , method: "delete") do %>
			  				 			<input name="attend_id" type="hidden" value= <%= Attend.find_by(event:@event.id, user:@user).id %>>
			  				 			<input name="group_id" type="hidden" value= <%= Group.find_by(group_number:grp.group_number, event:@event.id).id %>>
			  				 			<%= submit_tag 'Leave'%>
		      					<% end %>
		      				<%else%>
		      					<%= form_with(url: "/join/group" , method: "post") do %>
			  				 			<input name="attend_id" type="hidden" value= <%= Attend.find_by(event:@event.id, user:@user).id %>>
			  				 			<input name="group_id" type="hidden" value= <%= Group.find_by(group_number:grp.group_number, event:@event.id).id %>>
											<!-- <%# @attend = Attend.where(["user_id= ? and email = ?", current_user, current_event]) %>
    									<%# if !attends_groups.exists?(:attend_id => @attend) %> -->
			  				 			<%# puts @attend %>
			  				 			<%= submit_tag 'join' %>
		      					<% end %>


	  						</td>

	      			</tr>
						<% end %>
						<% end %>
					</table>
<% elsif user_signed_in? && Attend.where(event:@event.id).length <(@event.developer.to_i + @event.ux.to_i)%>
	<%= form_with scope: :attend, url: join_path, local: true do |form| %>
	  <%= hidden_field_tag(:user_id, @user) %>
	  <%= hidden_field_tag(:event_id, @event.id) %>
	  <% if Attend.where(event:@event.id, role:1).length == @event.developer.to_i %>
	  	<p> This event has enough Developers </p>
	  	<%= form.collection_select(:role_id, Role.where(id:2), :id, :name) %>
	    <% elsif Attend.where(event:@event.id, role:2).length == @event.ux.to_i %>
	    <p> This event has enough UX/UI Designers </p>
	    <%= form.collection_select(:role_id, Role.where(id:1), :id, :name) %>
	    <% else %>
	     <%= form.collection_select(:role_id, Role.all, :id, :name) %>
	<% end %>
	<%= form.submit 'Join'%>
<% end %>
<% elsif user_signed_in? && Attend.where(event:@event.id).length == (@event.developer.to_i + @event.ux.to_i)%>
 <h2> event is full </h2>
<% end %>