<h1 class = "header"><%= @event.name %></h1>

<div class = "userinfocontainer">
	<div class = "userimg">
		<%= image_tag(@event.img, :class => "userimg") %>
	</div>
	<div class = "userdescription">
	  <h1>Description: <strong><%= @event.description %></strong></h1>
	  <h1>Date: <strong><%= @event.date.to_formatted_s(:long) %></strong></h1>
	  <h1>Location: <strong><%= @event.location %></strong></h1>
	  <h1>Maximum number of group: <strong><%= @event.max_group %></strong></h1>
	  <h1>Maximum member per group: <strong><%= @event.max_per_group %></strong></h1>
	  <% if @event.attends.find_by(user: @user) %>
		<%= form_with(url: "/leave" , method: "delete") do %>
  			<input name="event_id" type="hidden" value= <%=@event.id %>>
  			<%= submit_tag 'Leave'%>
  		<% end %>
	  <% elsif user_signed_in? && Attend.where(event:@event.id).length < (@event.developer.to_i * @event.max_group.to_i + @event.ux.to_i * @event.max_group.to_i )%>
			<h1>Join as: </h1>
			<%= form_with scope: :attend, url: join_path, local: true do |form| %>
			  <%= hidden_field_tag(:user_id, @user.id) %>
			  <%= hidden_field_tag(:event_id, @event.id) %>
			  <% if Attend.where(event: @event.id, role: 1).length == @event.developer.to_i * @event.max_group.to_i %>
			  		<%= form.collection_select(:role_id, @role.where(id:1), :id, :name) %>
			  <% elsif Attend.where(event: @event.id, role: 2).length == @event.ux.to_i * @event.max_group.to_i %>
			  		<%= form.collection_select(:role_id, @role.where(id:2), :id, :name) %>
			  <% else %>
			    	<%= form.collection_select(:role_id, @role, :id, :name) %>
			    <% end %>
			<%= form.submit 'Join'%>
			<% end %>
		<% elsif user_signed_in? && Attend.where(event:@event.id).length == (@event.developer.to_i * @event.max_group.to_i + @event.ux.to_i * @event.max_group.to_i) %>
		<h1> event is full </h1>
		<% end %>
	</div>
	<div class="map">
		<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=<%= @event.location %>&key=AIzaSyDu1z_Aw3HJANizGUxSQJsqavEI_LbuDNk" allowfullscreen></iframe>
	</div>
</div>



<% if @event.attends.find_by(user: @user) %>



					<table class="table">
  					<tr>
					    <th>Group</th>
					    <th>developer</th>
					    <th>ux</th>
					    <th>Join dev</th>
					    <th>Join ux</th>
					    <th>Join/Leave</th>
					    <th>group page</th>
					  </tr>
					  <% @group.each do |grp| %>
						  <tr>
	      				<td><%= grp.group_number %></td>
	      				<td><%= grp.developer %></td>
	      				<td><%= grp.ux %></td>
	      				<td>
		      				<% if Attend.find_by(user:@user.id, event:@event.id, group:grp.id) %>
		      					<%= form_with(url: "/leave/group" , method: "delete") do %>
			  				 			<input name="attend_id" type="hidden" value= <%= Attend.find_by(user:@user.id, event:@event.id, group:grp.id).id %>>
			  				 			<%= submit_tag 'Leave'%>

		      						<% end %>
		      					<% elsif Attend.find_by(user:@user.id, event:@event.id) && Attend.exists?(user:@user.id, event:@event.id, group:nil) && Attend.where(event:@event.id, group:grp.id).length << @event.developer.to_i + @event.ux.to_i %>
		      							<%= form_with(url: "/join/group" , method: "post") do %>
		      								<% if Attend.where(event: @event.id , group:grp.id, role: 1).length == @event.developer.to_i && Attend.find_by(event: @event.id, user:@user.id).role.id.to_i == 1%>
			  				 					<p> The role you are applying for in this team is full </p>
			  				 				<% elsif Attend.where(event: @event.id , group:grp.id, role: 2).length == @event.ux.to_i && Attend.find_by(event: @event.id, user:@user.id).role.id.to_i == 2 %>
			  				 					<p> The role you are applying for in this team is full </p>
			  				 				<% else %>
			  				 					<input name="attend_id" type="hidden" value= <%= Attend.find_by(user:@user.id, event:@event.id).id %>>
			  				 					<input name="group_id" type="hidden" value= <%= grp.id %>>
			  				 					<%= submit_tag 'join' %>

			  				 				<% end %>
			  				 		<% end %>
		      				<% end %>
	  						</td>
	  						<td>placeholder</td>
	  						<td>placeholder2</td>
                <td><%= link_to 'Group', group_path(grp.id) %></td>
	      			</tr>
						<% end %>
					</table>
<% end %>

<%= link_to 'Back', root_path %>